[submodule "it-co-test-frontend"]
	path = frontend
	url = https://github.com/Forsee41/it-co-test-frontend.git

[submodule "it-co-test-backend"]
	path = backend
	url = https://github.com/Forsee41/it-co-test-backend.git

